<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<!-- <div *ngIf="condition;then thenBlock else elseBlock"></div>
<ng-template #thenBlock><h1>Condition is True.</h1></ng-template>
<ng-template #elseBlock><h1>Condition is False.</h1></ng-template> -->
<!-- 
<div class="mainContainer`">

<div class="counterContainer">
    <h1>Counter: {{counter}}</h1>
    <button (click)="handleCounter()">handle Click</button>
</div>


<div *ngFor="let user of users;index as i">
    
</div>

</div> -->


